@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/roboto-v29-latin-regular.woff") format("woff"),
  url("assets/fonts//Roboto/roboto-v29-latin-regular.woff2") format("woff2")
 }

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pf-header {
  background-color: #0c6c5a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
  width: 100%;
}
#pf-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

#pf-pp {
  width: 140px;
  height: auto;
  border-radius: 100%;
}

h1 {
  margin: 1%;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}


/** SECTIONS **/

.pf-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
}


.pf-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(34, 34, 34);
}

.pf-stroke {
  flex-grow: 1;
  height: 1px;
  background-color: rgb(120, 119, 119);
}

.pf-section-title {
  font-size: 35px;
  margin: 0 3%;
}

.pf-section-core {
  width: 100%;
}

.pf-projects-list {
  margin-top: 1%;
}

/** PROJECT **/

.pf-project {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 75px;
  padding: 0 2.5%;
  border-radius: 5px;
  margin: 1.5% 0;
  border: 1px solid #cacaca;
}

.pf-project:hover {
  background-color: #f0f0f0;
  border: 1px solid #0c6c5a;
}

.pf-project-logo {
  width: 60px;
  height: auto;
}

.pf-project-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0 2%;
}

.pf-project-description {
  color: #484848;
}

/** **/
.pf-contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pf-contact {
  display: flex;
  align-items:  center;
  height: 60px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid transparent;
}

.pf-contact:hover {
  background-color: #f0f0f0;
  border: 1px solid #0c6c5a;

}

.pf-contact-icon {
  width: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2%;
}
/** style for phone **/

@media screen and (max-width: 400px) {
  #pf-pp {
    width: 75px;
  }

  #pf-header {
    font-size: 12px;
  }

  #pf-body {
    width: 95%;
  }

  .pf-section {
    width: 80%;
  }

  .pf-section-title {
    font-size: 25px;
  }

  .pf-project-title {
    margin-left: 5%;
    font-size: 20px;
  }

  .pf-project-description {
    display: none;
  }
}